html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

canvas {
     border: 1px solid black;
}
 
.glow {
     font-size: 60px;
     color: rgb(0, 0, 0);
     font-weight: bold;
     animation: glow 1s ease-in-out infinite alternate;
     -moz-animation: glow 1s ease-in-out infinite alternate;
     -webkit-animation: glow 1s ease-in-out infinite alternate;
}

.button {
     background-color: #000000;
     border: none;
     box-shadow: 0 9px#505050;
     padding: 30px;
     text-align: center;
     font-size: 28px;
     }
     
     .button:hover {
     background-color: #3F3F3F;
     }
     
     .button:active {
     box-shadow: 0 5px #3D3D3D;
     transform: translateY(5px);
     }
     
     .pressed{
     box-shadow: 0 5px #3D3D3D;
     transform: translateY(5px);    
     }
     
     .red {
     color: #FF0000;
     }
     
     .green {
     color: #00FF00;
     }
     
     .blue {
     color: #0000FF;
     }
     
     .yellow {
     color: #FFFF00;
     }
     
     .round {
     border-radius: 50%;
}
     
body{
     text-align: center;
}

.modal-content{
     background-color: #fefefe;
     padding: 20px;
     border: 1px solid #888;
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
 }
 
 @media (min-width: 360px){
      body{
           font-size: 1em;
      }
 }